.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  margin-bottom: 10px;
}

button{
  margin-right: 10px;
  border: 2px solid rgb(88, 88, 188);
  border-radius: 5px;
  background-color: rgb(147, 147, 188);
}

button:hover{
  border: none;
  background-color:  rgb(147, 147, 188);
  font-weight: bold;
  transition: 0.5s;

}
